
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
  </head>
  <body>
    <div class="log-form" >
        <h2>Login to your account</h2>
        <form action="/addnewproduct" method="post"> 
          <input name="name" id="name" type="text" title="name" placeholder="name" />
          <input name="id" id="password" type="text" title="name" placeholder="id" />
          <input name="price" id="price" type="text" title="name" placeholder="price" />
          <input name="category_id" id="category_id" type="text" title="name" placeholder="category_id"/>
          <input name="description" id="description" type="text" title="name" placeholder="description" />
          <input name="counter" id="counter" type="text" title="name" placeholder="counter" />
          <input name="date_view" id="date_view" type="text" title="name" placeholder="date_view" />
          <input name="photo" id="photo" type="text" title="name" placeholder="photo" />
          <input name="slug" id="slug" type="text" title="name" placeholder="slug" />
          <input name="sellerid" id="sellerid" type="text" title="name" placeholder="sellerid" />
          



          <button type="submit" class="btn">Add</button>
        </form>
      </div>
  </body>
  </html>