1
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="log-form" >
      <h2>Reset your password</h2>
      <form action="/forgotpassword" method="post"> 
        <input name="username" id="username" type="text" title="username" placeholder="username" />
        <input name="password" id="password" type="password" title="username" placeholder="new password" />
        <button type="submit" class="btn">Reset</button>
        <a class="register" href="register">Register</a>
      </form>
    </div>
</body>
</html>