
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
  </head>
  <body>
    <div class="log-form" >
        <h2>Login to your account</h2>
        <form action="/home" method="post"> 
          <input name="username" id="username" type="text" title="username" placeholder="username" />
          <input name="password" id="password" type="password" title="username" placeholder="password" />
          <button type="submit" class="btn">Login</button>
          <a class="forgot" href="/forgotpassword">Forgot Password?</a>
          <a class="register" href="register">Register  </a>
        </form>
      </div>
  </body>
  </html>