

  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="log-form" >
        <h2>Register as a new user</h2>
        <form action="/newuser" method="post"> 
          <input name="username" id="username" type="text" title="username" placeholder="username" />
          <input name="password" id="password" type="password" title="username" placeholder="password" />
          <button type="submit" class="btn">Register</button>
          <a class="forgot" href="/login">Login</a>
        </form>
      </div>
  </body>
  </html>